/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
	10. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

/* main styling */

:root {
	/* Colors */
	--color-primary: #6366f1;
	--color-secondary: #a855f7;
	--color-gradient: linear-gradient(
		to right,
		var(--color-primary),
		var(--color-secondary)
	);
	--button-gradient: linear-gradient(
		to bottom right,
		var(--color-primary),
		var(--color-secondary)
	);
	/* --button-gradient: linear-gradient(to bottom right, #8a6fe6, #a78bfa); */

	/* Typography */
	--color-heading: #1f2937;
	--color-text: #374151;

	/* UI Elements */
	--border-color: #e5e7eb;
	--border-color-grid: 3px solid #a78bfa;
	--background-color: #f9fafb;
	--background-color-player: #e9ebf7;
	--background-color-oval: #d5d4f4;
	--background-color-checked: #6c5ce7;
}

body {
	background-color: var(--background-color);
	min-height: 100vh;
	font-family: "Outfit", sans-serif;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

body > header {
	background-image: var(--color-gradient);
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.1rem;
	gap: 12px;
	padding: 1rem;
}

#main-container {
	display: grid;
	place-content: center;
}

body > footer {
	text-align: center;
	background-color: var(--border-color);
	padding: 1rem;
	display: grid;
	place-content: center;
}

body > footer > .social-links {
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

/* Update the selector to target all paths in SVGs */
footer a:hover svg path {
	fill: var(--color-primary);
}
